TEST_SERVER/run/CSV_AULA30_CSV_TO_PIPED/BillInfoDetails.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="BillInfoDetailsData">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
											<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="InvoiceNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="InvoiceDate" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="CashierName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="CustomerName" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" name="Customer_Phone" type="xsd:string"/>
                                                                                                                                                                    <xsd:element maxOccurs="10" minOccurs="0" name="cart">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Category" type="xsd:string"/>
                    <xsd:element name="ProductName" type="xsd:string"/>
                    <xsd:element name="UnitPrice" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>